@charset "UTF-8";



*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #BF895A;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 350px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

    transition: width .3s, height .3s ;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #BF895A url(../imagens/login.jpg);
    background-size: cover;
   
    height: 350px;
    background-position: top center;
    margin: auto;
}

section#login > div#formulario{
    display: block;
    padding: 20px;
    text-align: justify;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p{
    font-size: 1em;
}